# ~/.gitconfig 

[core]
	editor = hx

[alias]
	co = checkout
	b = branch
	cm = commit -v
	ss = status -s
	ll = log --oneline --graph --decorate --all
	a = add --patch
	ph = push
	pl = pull
	pp = !git pull && git push

[interactive]
	singleKey = true
